body {
    font-family: sans-serif;
    background-color: lightgoldenrodyellow;
}
a {
    text-decoration: none;
    color: lightcoral;
    transition-duration: 0.5s;
    font-size:50px;
}
a:hover {
    font-size: 70px;
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
    transform:rotateY(360deg);
    transition-duration: 2s;
}
img:hover {
    transform:rotatex(360deg);
    transition-duration: 2s;
}
}
main {
    font-family: caveat;
}
header {
    font-family: 'press start 2P';
}
p:hover {
    background-color:khaki;
    font-size: 30px;
    transition-duration: 0.5s;
}
p {
    transition-duration: 0.5s;
}
img:hover {
    transform:rotateX(360deg);
    transition-duration: 2s;
}
