body {
    font-family: cursive;
    background-color: wheat;
    color: green;
}
a {
    text-decoration: none;
    background-color: burlywood;
    color:darkolivegreen;
    font-size: 40px;
    font-family: sans-serif;
    border-radius: 50px;
    padding:10px;
}
h1 {
    font-family: 'Montserrat+alternates';
}
.social:hover {
    padding:100px;
    transition-duration: 0.5s;
    background-color: blue;
    border: 70px dotted red;
    border-radius: 50%;
    width: 500px;
}
.social {
    transition-duration: 0.5s;
}
